.row {
  margin-top: 32px;
}

.row-funds {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
  scrollbar-width: none;
}

.row-funds button {
  border: 0;
  border-color: transparent;
}

.row-funds::-webkit-scrollbar {
  display: none;
}

.row-fund {
  object-fit: contain;
  max-height: 200px;
  margin-left: 8px;
  transition: transform 450ms;
}

.row-fund-details {
  display: none;
}

.row-fund:hover {
  /* opacity: 0.7; */
  transform: scale(1.04);
}

.row-fund-details:hover {
  display: unset;
  transform: scale(1.2);
}

.row-fund-large {
  max-height: 240px;
}

.row-fund-large:hover {
  transform: scale(1.16);
}

.fund-title {
  display: flex;
  margin-left: 8px;
  color: white;
}

.collapse-css-transition {
  transition: height 300ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}

.popup-content {
  margin: auto;
  background: rgb(255, 255, 255);
  width: 50%;
  padding: 5px;
}
.popup-arrow {
  color: rgb(255, 255, 255);
}
[role="tooltip"].popup-content {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
[data-popup="tooltip"].popup-overlay {
  background: transparent;
}

.react-responsive-modal-modal {
  border-radius: 10px;
}
